/* reset browser styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */

/* General */

#white_text {
    
    color: #FFFFFF;
    
}

#black_text {
    
    color: #424242;
    
}

#linkdeleter {
    
    text-decoration: none;
    color: #424242;
    
}

/* Carta Layout */

.carta_title_documents_type_b {
    
    /* Text */
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-size: 32pt;
    color: #424242;
    
}

.carta_subtitle_documents_type_b {
    
    /* position */
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
    /* divider */
    background-image: url(../elements/Carta/title_and_subtitle/subtitle_divider_type_b_white.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: left bottom;
    
    /* Text */
    font-family: 'Noto Sans KR';
    font-size: 12pt;
    color: #424242;
    opacity: .6;
    
}

.carta_subtitle_documents_type_a {
    
    /* position */
    text-align: center;
    margin-top: 24px;
    padding-top: 24px;
    
    /* divider */
    background-image: url(../elements/Carta/title_and_subtitle/subtitle_divider_type_a.png);
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: top;
    
    /* Text */
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-size: 18pt;
    color: #424242;
    
}

.carta_documents_type_left {
    
    /* Text */
    line-height: 14pt;
    font-family: 'Noto Sans KR';
    font-weight: 200;
    font-size: 10pt;
    color: #424242;
}

.carta_documents_type_center {
    
    /* Text */
    text-align: center;
    line-height: 14pt;
    font-family: 'Noto Sans KR';
    font-size: 11pt;
    color: #424242;
}

.carta_item_block {
    
    /* position */
    padding-top: 128px;
    
    /* please setting custom in #id tag */
    
}

.carta_item_block_title {
    
    /* icons*/
    background-image: url(../elements/Carta/icons/cartaform_carta.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 72px;
    
    /* Position */
    padding-top: 86px;
    
    /* Text */
    text-align: center;
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-size: 36pt;
    
}

.carta_item_block_subtitle {
    
    /* position */
    margin-top: 10px;
    padding-top: 10px;
    
    /* divider */
    background-image: url(../elements/Carta/title_and_subtitle/subtitle_divider_type_a.png);
    background-repeat: no-repeat;
    background-size: 2%;
    background-position: top;
    
    /* font */
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 1.1em;
    font-weight: 300;
    color: #646464;
}

.carta_outline_butten {
    
    /* box */
    width: 128px;
    margin-top: 18px;
    padding: 14px 14px 14px 14px;
    border: solid 1px #424242;
    border-radius: 10px;
    
    /* Text */
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 10pt;
    color: #424242;
    opacity: .7
    
}

.carta_outline_butten:hover {
    
    background-color: #EEE;
}

.carta_comments {
    
    /* image */
    background-image: url(../elements/Carta/accessory/carta_ic_ken_taompyo.png);
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: top;
    
    /* position */
    padding-top: 64px;
    
    /* text */
    text-align: center;
    font-family: "Nanum Myeongjo";
    font-weight: 600;
    font-size: 16pt;
    font-style: italic;
    line-height: 36px;
    color: #424242;
    opacity: .7;
}
/* Carta if */

#carta_if_Buttencenter {
    
    max-width: 128px;
    min-width: 128px;
    margin-left: auto;
    margin-right: auto;
    
}