/* reset browser styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */

/* General */

#white_text {
    
    color: #FFFFFF;
    
}

#black_text {
    
    color: #424242;
    
}

#linkdeleter {
    
    text-decoration: none;
    color: #424242;
    
}

/* Carta Layout */

.carta_title_documents_type_b {
    
    /* Text */
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-size: 32pt;
    color: #424242;
    
}

.carta_subtitle_documents_type_b {
    
    /* position */
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
    /* divider */
    background-image: url(../elements/Carta/title_and_subtitle/subtitle_divider_type_b_white.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: left bottom;
    
    /* Text */
    font-family: 'Noto Sans KR';
    font-size: 12pt;
    color: #424242;
    opacity: .6;
    
}

.carta_subtitle_documents_type_a {
    
    /* position */
    text-align: center;
    margin-top: 24px;
    padding-top: 24px;
    
    /* divider */
    background-image: url(../elements/Carta/title_and_subtitle/subtitle_divider_type_a.png);
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: top;
    
    /* Text */
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-size: 18pt;
    color: #424242;
    
}

.carta_documents_type_left {
    
    /* Text */
    line-height: 14pt;
    font-family: 'Noto Sans KR';
    font-weight: 200;
    font-size: 10pt;
    color: #424242;
}

.carta_item_section_title {
    
    /* Position */
    padding-top: 81px;
    
    /* title img layout : PLEASE CHANGE ICON WITH #ID */
    background-image: url(../elements/Carta/icons/cartaform_carta.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 20%;
    
    /* Text */
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-size: 32pt;
    color: #424242;
}

.carta_item_section_subtitle {
    
    /* position */
    padding-top: 4px;
    
    /* Text */
    font-family: 'Noto Sans KR';
    font-size: 10pt;
    color: #424242;
    opacity: .7
    
}

.carta_item_section_document {
    
    /* position */
    text-align: justify;
    padding-top: 12px;
    margin-top: 12px;
    max-width: 340px;
    
    /* divider */
    background-image: url(../elements/Carta/title_and_subtitle/subtitle_divider_type_b.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left top;
    
    /* Text */
    letter-spacing: .5px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10pt;
    color: #424242;
    opacity: .7;
    
}

.carta_item_section {
    
    float: left;
    margin-right: 96px;
}

#carta_lastitemsection {

    margin-right: 0px;   
    
}

.carta_outline_butten {
    
    /* box */
    width: 128px;
    margin-top: 18px;
    padding: 14px 14px 14px 14px;
    border: solid 1px #424242;
    border-radius: 10px;
    
    /* Text */
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 10pt;
    color: #424242;
    opacity: .7
    
}

.carta_outline_butten:hover {
    
    background-color: #EEE;
}

/* Luminon Canoness elements */

.LCimg {
    
    margin-top: 22%;
}

#LC_plzslidedown {
    
    margin-top: 20%;
}

.LCaboutpage {
    
    /* position */
    margin-top: 3%;
    padding-top: 43%;
    padding-left: 4%;
    padding-bottom: 4%;
    
    /* Background */
    background-image: url(../elements/elements/background/bg_luminon_about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.LCcommu {
    
    /* position */
    max-width: 84.2%;
    min-width: 84.2%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40%;
    padding-top: 20%;
    
}

#LCitemtwitter {
    
    background-image: url(../elements/Carta/icons/cartaform_twitter.png);
}

#LCitemfacebook {
    
    background-image: url(../elements/Carta/icons/cartaform_facebook.png);
}

#LCitemgit {
    
    background-image: url(../elements/Carta/icons/cartaform_github.png);
}
