* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

header>div {
    
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
    margin-bottom: 24px;
    background-color: #242424;
    
}

.pricezone {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
    background-color: white;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 0px #FFF;
    transition: .6s;
}

.price {
    
    font-family: "Roboto Mono", sans-serif;
    font-size: 24pt;
    font-weight: bold;
}

.currency {
    
    font-family: "Roboto Mono", sans-serif;
    font-size: 24pt;
    font-weight: normal;
    color: #969696;
}

.pricesebu {
    
    border-top: 1px solid #BDBDBD;
    padding-top: 8px;
    font-size: 9pt;
    line-height: 42pt;
    color: #969696;

}

.pricezone:hover {
    
    box-shadow: 0px 10px 16px #DFDFDF;
    transition: .6s;
}

#mail {
    background-color: #426CF4;
    float: left;
    margin-right: 16px;

}

#mail>a {
    
    color: white;
}

#mail:hover {
    
    box-shadow: 0px 10px 16px #a4b9ff;
    transform: .2s;
}

#twitter {
    background-color: #55acee;
    float: left;
    margin-right: 16px;

}

#twitter>a {
    
    color: white;
}

#twitter:hover {
    
    box-shadow: 0px 10px 16px #97d2ff;
    transform: .2s;
}

#discord {
    background-color: #7289DA;
    float: left;
    margin-right: 16px;

}

#discord>a {
    
    color: white;
}

#discord:hover {
    
    box-shadow: 0px 10px 16px #b8c8ff;
    transform: .2s;
}

#telegram {
    background-color: #419fd9;
    float: left;


}

#telegram>a {
    
    color: white;
}

#telegram:hover {
    
    box-shadow: 0px 10px 16px #9cd9ff;
    transform: .2s;
}


.com_step {
    
    border: 1px solid #bdbdbd;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 24px;
    text-align: center;
    border-radius: 4px;
}

.com_step>img {
    
    width: 640px;
}


.goodpoint {
    
    width: 340px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-top: 24px;
    margin-bottom: 24px;
    float: left;
    text-align: center;
    line-height: 24pt;
    border-right: 1px solid #EEEEEE;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #FFFFFF;
    transition: 1.0s;
}

.goodpoint>a {
    
    color: #bdbdbd;
    font-weight: bold;
}

#endpoint {
    
    border-right: none;
    
}

.goodpoint:hover {
    
    border-right: 1px solid #FFF;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 16px #b0fff0;
    color: white;
    transition: .5s;
}