* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}


/* dotdesign */

body {
    
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background-image: url(../elements/index/SVG/wordmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    background-color: #242424;
    min-width: 900px;
    overflow: hidden;
}

header {
    
    padding: 48px 48px 48px 48px;
    
}

header>img {
    
    width: 48px;
    height: 48px;
}

header>div {
    
    float: right;
}

p {
    
    font-family: 'Cabin', sans-serif;
    font-size: 14pt;
    color: #646464;
    letter-spacing: 24px;
    
}

p>a {
    
    
    font-weight: bold;
    text-decoration: none;
    color: white;
}

article {
    
    text-align: center;
}

article>div {
    
    width: 300px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 0px 36px #121212;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
}

@media (min-width: 1024px){
    
    article>div {
        
        transition: 1.5s;
    }
}

article>div:hover {
    
    
    box-shadow: 0px 10px 128px #7d308c;
    transition: 1s;
}

article>h1 {
    
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 24pt;
    color: white;
    letter-spacing: 2pt;
    margin-bottom: 8px;
    
}

article>p {
    
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 9pt;
    letter-spacing: 2pt;
    line-height: 14pt;
    
}