.title {
    
    border: 1px solid #BDBDBD;
    border-top: 0px solid #fff;
    
    padding-left: 36px;
    padding-top: 240px;
    padding-bottom: 24px;
    
    margin-top: -36px;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 900px;
    min-width: 900px;
    

}

.title_name {
    
    font-family: 'Roboto';
    font-size: 4em;
    font-weight: 100;
    text-align: left;
    color: #999999;
    margin-bottom: -10px;

}

.subtitle {
    
    font-family: 'NanumGothic';
    font-size: 1em;
    text-align: left;
    color: #BDBDBD;
    
    max-width: 900px;
    min-width: 900px;
    
}