/* Luminon Canoness elements */

.LCimg {
    
    margin-top: 22%;
}

#LC_plzslidedown {
    
    margin-top: 10%;
}

.LCcommu {
    
    /* position */
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px;
    padding-top: 10%;
    
}

#LCitemtwitter {
    
    background-image: url(../elements/Carta/icons/cartaform_twitter.png);
}

#LCitemfacebook {
    
    background-image: url(../elements/Carta/icons/cartaform_facebook.png);
}

#LCitemgit {
    
    background-image: url(../elements/Carta/icons/cartaform_github.png);
}

#LCitemlc {
    
    background-image: url(../elements/Carta/icons/cartaform_luminonblog.png);
}

#LCfirstlist {
    
    padding-top: 0px;
}

#divider {
    
    border-top: 2px dotted #e1e1e1;
    
}

#LCprofileName {
    
    margin-top: 128px;
    
    background-image: url(../elements/elements/profile/Londo.png);
    background-size: 128px;
    background-position: top;
    
    padding-top: 156px;
}

#LCprofileintro {
    
    line-height: 20pt;
    padding-top: 10px;
    font-size: 12pt;
    opacity: .7;
    margin-bottom: 128px;
}

.LCbold {
    
    font-weight: 500;

}

#LCcolorchangedlinkdeleter {
    
    text-decoration: none;
    color: #f06292;
    
}

.LCruby {
    
    font-size: 6pt;
}

#LCcommnets {
    
    margin-top: 128px;
    margin-bottom: 256px;
}

.LCfooter {
    
    background-image: url(../elements/elements/footer/footerlogo.png);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 56px;
    text-align: center;
    font-family: 'Nanum Myeongjo';
    font-size: .7em;
    color: #A1A1A1;
    
}

#LCfooterlink {
    
    text-decoration: none;
    color: #A1A1A1;
    font-weight: bold;
    
}
