* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* VERSION : RELEASE 0.1 */

/* ARTICLES */


section {
    
    max-width: 1024px;
    min-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@media ( max-width: 1024px ) {
  
    section {
    
    max-width: 80%;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    }

}

article {
    
    margin-bottom: 36px;
}

h1 {
    
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24pt;
    font-weight: 800;
    color: #242424;
    
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    
    border-bottom: 1px solid #646464;
}

h2 {
    
    font-family: "NanumGothic",sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: #999999;
    
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 16px;
    margin-bottom: 8px;
    
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd
}

h3 {
    
    font-family: "NanumGothic",sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #646464;
    
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 16px;
    margin-bottom: 8px;
    
    border-bottom: 1px dotted #bdbdbd;

    
}

h6 {
    
    text-align: center;
    font-family: "NanumGothic", sans-serif;
    font-size: 9pt;
    font-weight: normal;
    line-height: 24pt;
    color: #BDBDBD;
}

a, pre, ul, p {
    
    font-family: "NanumGothic", sans-serif;
    font-size: 12pt;
    line-height: 24pt;
    color: #646464;
}

s {
    
    color: #bdbdbd;
}

li {
    
    font-size: 10pt;
    
    margin-left: 16px;
}

ul>ul {
    
    margin-left: 24px;
}

code {
    font-family: "Roboto Mono","NanumGothic", sans-serif;
    font-weight: bold;
    color: #727272;
    
    background-color: #DFDFDF;
    border-radius: 2px;
    
    padding-left: 2px;
    padding-right: 2px;
    
    /*
	text overflow issue solve
	author @antiweb
    */
    white-space: pre-wrap;
    word-break: break-all;
}

.link {
    
    /* 링크를 건 부분에 class="link" */
    
    text-decoration: none;
    color: #2196F3;
    font-weight: bold;
    
    background-color: rgba("255 255 255 0");
    border-radius: 2px;
    
    padding-left: 2px;
    padding-right: 2px;
    
    transition: .5s;
}

.link:hover {
    
    background-color: #BBDEFB;
    
    transition: .5s;
}

li>a {
    
    font-size: 10pt;
}

/* IMAGES */

.img {
    
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #FFF;
    transition: .6s;
}

.img:hover {
    
    box-shadow: 0px 10px 16px #DFDFDF;
    transition: .6s;
}

@media ( max-width: 1024px ) {
    
    .img {
    
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 10px 16px #DFDFDF;
        transition: .6s;
    }
    
}

.shrine_largeimg {
    
    /*
    큰 이미지 태그입니다.
    <div>안에 <img>를 넣고 <div>에 class="shrine_largeimg"
    큰 이미지의 권장 크기는 1024px * 512px입니다.
    */
    
    background-color: black;
    
    width: 1024px;
    height: 512px;
    overflow: hidden; 
}

.shrine_largeimg>img {
    
    opacity: .6;
    width: 100%;
    
    transition: 1.5s;
}

.shrine_largeimg>img:hover {
    
    opacity: 1;
    transform: scale(1.2);
    transition: transform 1.5s;
    transition: 1.5s;
}

@media ( max-width: 1024px ) {
  
    .shrine_largeimg {
    
    background-color: black;
    
    width: 100%;
    height: auto;
    overflow: hidden; 
    }
    
    .shrine_largeimg>img {
    
    opacity: .8;
    transform: scale(1.2);
    transform-origin: top;
    transition: 1.5s;
    }
    
    .shrine_largeimg>img:hover {
    
    opacity: 1;
    transform: scale(1.5);
    transition: transform 1.5s;
    transition: 1.5s;
    }

}


.shrine_img {
    
    /*
    일반 이미지 태그입니다.
    <div>안에 <img>를 넣고 <div>에 class="shrine_largeimg"
    이미지의 권장 크기는 1024px * 512px입니다.
    */
    
    background-color: black;
    
    width: 512px;
    height: 512px;
    float: left;
    overflow: hidden;
}


.shrine_img>img {
    
    opacity: .5;
    
    transition: 1.5s;
    
}


.shrine_img>img:hover {
    
    opacity: 1;
    
    transform: scale(1.2);
    transition: transform 1.5s;
    transition: 1.5s;
}

@media ( max-width: 1024px ) {
  
    .shrine_img {
    
    background-color: black;
    width: 100%;
    height: auto;
    overflow: hidden; 
    }
    
    .shrine_img>img {
    
    width: 100%;
    opacity: .8;
    transform: scale(1.2);
    transform-origin: top;
    transition: 1.5s;
    }
    
    .shrine_img>img:hover {
    
    opacity: 1;
    transform: scale(1.3);
    transition: transform 1.5s;
    transition: 1.5s;
    }

}

/* BUTTONS */

.snslink {
    
    /*
    SNS버튼 태그입니다.
    <div>안에 <a>를 넣고 <div>에 class="snslink"
    
    별도의 id를 지정해서 box-shadow와 background-color를 설정해 주세요.
    */
    
    width: 208px;
    text-align: center;
    padding: 16px 18px 16px 18px;
    margin-top: 14px;
    margin-bottom: 24px;
    border-radius: 48px;
    
    box-shadow: 0px 0px 0px #FFF;
    
    transition: .2s;
}

.snslink>a {
    
    font-family: "NanumGothic", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
}

.snslink:hover {
    
    box-shadow: 0px 10px 16px;
    transform: .2s;
}


.gamelink {
    
    /* Geme Link는 자신의 게임 아이디를 좀 더 깔끔하게 전송하기 위한 폼입니다. 게임 아이콘에는 48px의 아이콘을 사용합니다. */

    font-family: "NanumGothic", sans-serif;
    text-decoration: none;
}

.gamelink>div {
    
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    float: left;
    width: 28%;
    padding: 16px 16px 16px 16px;
    background-color: #424242;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #FFF;
    transition: .6s;
}

.gamelink>div:hover {
    
    box-shadow: 0px 10px 16px #DFDFDF;
    border-radius: 2px;
    transition: .6s;
}

.gamelink>div>img {
    
    float: left;
    margin-bottom: 16px;
    margin-right: 16px;
}

.gamelink>div>p:nth-child(2) {
    margin-top: 8px;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    float: left;
}

.gamelink>div>p:nth-child(3) {
    
    clear: both;
    border-top: 1px solid #FFFFFF;
    padding-top: 8px;
    color: #FFF;
    opacity: .8;
    
}


@media ( max-width: 1024px ) {
    
    .gamelink {

        font-family: "NanumGothic", sans-serif;
        text-decoration: none;
    }

    .gamelink>div {
        
        width: 100%;
        margin-left: 0px;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 0px;
        border-radius: 4px;
        box-shadow: 0px 10px 16px #DFDFDF;
        transition: .6s;
    }

    .gamelink>div>img {
    
        float: left;
        margin: 16px;
    }

    .gamelink>div>p:nth-child(2) {
        margin-top: 24px;
        font-size: 16pt;
        font-weight: bold;
        color: white;
        float: left;
    }

    .gamelink>div>p:nth-child(3) {
    
        clear: both;
        border-top: 1px solid #FFFFFF;
        margin: 0px 16px 16px 16px;
        padding-top: 16px;
        color: #FFF;
        opacity: .8;
    
    }

}
/*FOOTER*/
footer {
    
    margin-top: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #FAFAFA;
    
    text-align: center;
}

footer>p {
    
    color: #A5A5A5;
}

