/* reset browser styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */
/* FONT는 HTML에나 추가하세요 여기서 안됨 왠지모르겠는데 */

/* Postition Align Setting : PAS */
/* 가운데 정렬용 태그 옵션 */

.PAS {

    float: right;
	position: relative;
	left: -50%;

}

/* 여기서부터 CSS 작성을 시작합니다. */
body {
    background-color: #FFF;
}

header {
    
    max-width: 900px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 360px 32px 32px 32px;
    
    
    background-image: url(../elements/intro/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section {
    
    max-width: 900px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px 10px 32px;
    font-family: 'Nanum Gothic';
    color: #616161;
    line-height: 1.5em;
    
    background-color: #2F65A8;
}

.top {
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    margin-bottom: 20px;
    border-bottom: 1px solid #BDBDBD;
    background-size: 0%;
    
}

.title_over {
    
    color: #FFF;
    background-image: url(../elements/nav/luminon_Creativelogo.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px;
    padding-left: 36px;
    margin-left: -32px;
    font-family: "roboto mono";
    font-weight: bold;
    color: #424242;
    
}

#title_a {
    
    color: #2E5595;
}

#title_b {
    
    color: #EC407A;
}

.title {
    
    font-family: 'roboto condensed';
    font-weight: 700;
    font-size: 40pt;
    color: white;
    line-height: 38pt;
}

.subtitle {
    
    color: #d5e8ff;
    
}

.introduce {
    
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 31px;
    padding-right: 31px;
    background-color: #FAFAFA;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    
    
}

.introtitle {
    
    clear: both;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 24px;
    margin-bottom: 24px;
    color: #8D8D8D;
    border-bottom: 2px dotted #E0E0E0;
}

.intropic {
    
    float: left;
    position: relative;

  
}

.intro {
    
    padding-top: 15px;
    margin-left: 148px;
    color: #8D8D8D;
    
}

#boldintro  {
    
    font-weight: bold;
    
}


