/* reset browser styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */
/* FONT는 HTML에나 추가하세요 여기서 안됨 왠지모르겠는데 */

/* Postition Align Setting : PAS */
/* 가운데 정렬용 태그 옵션 */

.PAS {

    float: right;
	position: relative;
	left: -50%;

}

/* 여기서부터 CSS 작성을 시작합니다. */
body {
    background-color: #EEE;
}

nav {

	position: absolute;
    width: 100%;
	background-color: rgba(0,0,0,.5);
    background-repeat: repeat-y;
	padding: 2px 0px 2px 0px;
	text-align: center;
	list-style: none;
    clear: both;

}

.nav_logo {
    
    width: 2%;
    height: 2%;
}

header {
    
    max-width: 900px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 360px 32px 32px 32px;
    
    background-color: #4180CF;
}

.title {
    
    font-family: 'roboto condensed';
    font-weight: 700;
    font-size: 40pt;
    color: white;
    color: white;
    line-height: 38pt;
}


