@media ( max-width: 1280px ) {

    * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }

    /* -- */

    header {
        padding: 72px 0px 72px 0px;
        background-color: #242424;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        color: #AAAAAA;
    }

    header>img {

        width: 50%;
        margin-bottom: 36px;
    }

    header>p {

        width: 80%;
        margin-left: auto;
        margin-right: auto;
        line-height: 18pt;
    }

    article {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .useToss {

        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 32px 0px 32px 0px;
        background-color: #2F5FD2;
        text-align: center;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #FFF;
        transition: 0;

    }

    .useToss:hover {

        box-shadow: 0px 0px 0px #DFDFDF;
        transition: 0;

    }

    .useToss>img {

        display: none;
    }

    .useToss>img:hover {

        width: 256px;
        transition: .75s;
    }

    .useToss>a {

        display: block;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        padding: 3%;

        text-decoration: none;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        color: #2F5FD2;
        background-color: white;
        border-radius: 4px;
    }

    .useToss>p {

        width: 90%;

        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;

        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 10pt;
        line-height: 16pt;
        color: #FFFFFF;

    }

    .mainPayments {

        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 0;
        text-align: center;
        border-top: 2px dotted rgba(255, 255, 255, .5);
        background-color: #0e4d8c;
    }

    .mainPayments>a {
        
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 10pt;
        color: #FFFFFF;
    }

    .payments {
        
        
        width: 100%;
        text-align: center;
        background-color: #0076be;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #FFF;
        transition: .0s;
        float: none;

    }

    .payments:nth-child(5) {

        margin-right: 0;
    }

    .payments:hover {

        box-shadow: 0px 0px 0px #DFDFDF;
        transition: 0s;
    }


    .payments>img {

        width: 128px;
        margin: 48px 0px 48px 0px;
    }

    .payments>h1 {

        margin-bottom: 16px;

        font-family: 'Nanum Gothic', sans-serif;
        font-size: 24pt;
        color: white;

    }

    .payments>h2 {

        margin-bottom: 16px;

        font-family: 'Roboto Mono', sans-serif;
        color: black;
        opacity: .5;
    }

    .payments>p {

        padding-bottom: 64px;
        margin-bottom: 0;
        font-family: 'Roboto Mono', sans-serif;
        color: white;
        font-size: 16pt;
        letter-spacing: 4pt;
    }

    .payments>button {
        
        display: none;
        /*
        margin-bottom: 32px;
        padding: 16px 32px 16px 32px;

        font-family: 'Nanum Gothic', sans-serif;
        font-size: 14pt;
        color: white;
        background-color: rgba(255, 255 ,255 ,0);
        border: 1px solid white;    
        border-radius: 4px;
        transition: .5s;

        cursor: pointer;
        */
    }

    .payments>button:hover {

        background-color: rgba(255, 255, 255, .2);
        transition: .5s;
    }

    #kookmin {

        background-color: #545045;
    }

    #kakao {

        background-color: #313955;
    }

    footer>p>a {

        text-decoration: none;
        color: #426CF4;
    }

    footer {
        
        margin-top: 0;
        padding-top: 36px;
        padding-bottom: 36px;
        background-color: #FAFAFA;

        font-family: 'Nanum Gothic', sans-serif;
        line-height: 18pt;

        text-align: center;
    }

    footer>p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: #A5A5A5;
    }


}