@media ( max-width: 1280px ) {

    * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
    
    br {
        
        display: none;
    }

    /* -- */


}