@media ( max-width: 1280px ) {

    * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
    
    br {
        
        display: none;
    }

    /* -- */

    header {
        
        padding: 72px 0px 72px 0px;
        text-align: left;
        font-family: 'Nanum Gothic', sans-serif;
        color: #AAAAAA;
        border-bottom: 1px solid #DBDBDB;
    }

    header>img {
        
        width: 50%;
        margin: 0% 8% 36px 8%;
    }

    header>p {
        
        margin: 0% 8% 0% 8%;
        line-height: 18pt;
    }

    article {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    article>div:first-child {
        
        border-bottom: 1px solid #DBDBDB;
    }

    .Payments {
        
        float: none;
        width: 100%;
        text-align: left;
        border: none;
        border-radius: 0px;
    }
    
    .Payments>h1 {
        
        margin: 24px 8% 24px 8%;
        
    }
    
    .Payments>h2 {
        
        margin: 24px 8% 24px 8%;
        
    }
    
    .acc_code {
        
        margin: 32px 8% 72px 8%;
    }
    
    article>div:nth-child(3) {
    
        margin-bottom: 0px;
    }
    
    .Notice {
        
        float: none;
        border-radius: 0px;
        margin-bottom: 0px;
        padding-bottom: 24px;
    }
    
    .Notice:nth-child(4) {
    
        float: none;
    }

    .Notice:nth-child(5) {
    
        float: none;
    }

    .Notice>img {
    
        width: 72px;
        margin-top: 24px;
        margin-left: 8%;
        margin-bottom: 24px;
    }

    .Notice>h1 {
    
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 24pt;
        margin-left:  8%;
        margin-bottom: 16px;
    }


    .Notice>h2 {
    
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 12pt;
        margin-left: 8%;
        margin-bottom: 8px;
        opacity: .5;
    }

    .Notice>p:nth-child(4) {
    
        font-family: 'Roboto Mono', sans-serif;
        font-size: 24pt;
        font-weight: bold;
        margin-left: 8%;
    }

    .Notice>p:nth-child(5) {
 
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 8pt;
        margin-left: 8%;
        margin-top: 24px;
        margin-bottom: 0px;
        opacity: .5;
    
    }
    
    #Spotify:hover {
    
        box-shadow: 0px 0px 0px #FFF;
        transition: 1s;
    }
    
    #Netflix:hover {
    
        box-shadow: 0px 0px 0px #FFF;   
        transition: 1s;
    }


    
    #Toss>img:first-child {
    
        height: 32px;
        margin: 56px 8% 56px 8%;
    
    }
    
    #Toss>img:nth-child(3) {
    
        display: none;
    
    }
    
    .tossMe {
        
        display: inherit;
        padding: 24px 0px 24px 0px;
        margin: 0% 8% 24px 8%;
        border-radius: 4px;
        text-align: center;
        color: white;
        text-decoration: none;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        background-color: #2F5FD2;
    }
    
    #Toss>p:nth-child(5) {
    
        margin: 24px 8% 24px 8%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 10pt;
        color: #646464;
    }

    #Toss>p:nth-child(6) {
        
        margin: 32px 8% 32px 8%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 10pt;
        color: #bdbdbd;
    }
    
    #Shinhan>div:first-child {
        
        display: none;
    }
    
    #Shinhan>img:nth-child(3) {
        
        margin: 32px 8% 10px 8%;
        height: 128px;
    }
    
    
    #Toss:hover {
        
        box-shadow: 0px 0px 0px #FFF;
    }
    
    #Shinhan:hover {
        
        box-shadow: 0px 0px 0px #FFF;
    }

    .copy {
        
        display: none;
    }

    footer>p>a {

        text-decoration: none;
        color: #426CF4;
    }

    footer {
        
        margin-top: 0;
        padding-top: 36px;
        padding-bottom: 36px;
        background-color: #FAFAFA;

        font-family: 'Nanum Gothic', sans-serif;
        line-height: 18pt;

        text-align: center;
    }

    footer>p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: #A5A5A5;
    }


}