* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* -- */

body {

    height: 100vh;
}

header {

    border-bottom: 1px solid #dbdbdb;
}

.head-title {

    padding: 32px 0px 32px 64px;
}

.head-title>img {

    display: inline-block;
    vertical-align: middle;
}

.head-title>a {

    vertical-align: middle;
    margin-left: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24pt;
    color: #242424;
}

/* Global */

.container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.con-section {

    border-right: 1px solid #dbdbdb;
}

.con-title {

    padding: 32px 0px 32px 64px;
    border-bottom: 1px solid #dbdbdb;
}

.con-title>img {

    display: inline-block;
    vertical-align: middle;
}

.con-title>a {

    vertical-align: middle;
    margin-left: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: #242424;
}

.con-contents {

    padding: 32px 64px 32px 64px;
    font-family: 'Roboto Mono', 'Noto Sans KR', monospace;
    font-weight: bold;
    font-size: 72pt;
    color: #808DAC;
    border-bottom: 1px solid #dbdbdb;
}

.con-subcontents {

    padding: 48px 64px 48px 64px;
    font-family: 'Raleway', 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: #242424;
    border-bottom: 1px solid #dbdbdb;
}

/* Bank */

#bank-contents>p>a {
    
    color: #4E57F9;
}

#bank-subcontents {

    padding: 0px 0px 0px 64px;
}

#bank-subcontents>a {

    float: left;
    padding-top: 56px;
}

#bank-subcontents>a:nth-child(2) {
    
    color: #4E57F9;
}

#bank-subcontents>button {

    float: right;
    padding: 56px 32px 56px 32px;
    background-color: #4E57F9;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px #B7BBFF;
    transition: .2s;
    cursor: pointer;

}

#bank-subcontents>button:hover {

    background-color: #636BFF;
    box-shadow: 0px 16px 16px #B7BBFF;
    transition: .2s;
}

#bank-subcontents>button:active {

    background-color: #636BFF;
    box-shadow: 0px 4px 12px #8289FF;
    transition: .2s;
}

footer {
    padding: 32px 64px 32px 64px;
    font-family: 'Raleway', 'Noto Sans KR', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-weight: bold;
    font-size: 12pt;
    line-height: 24pt;
    color: #646464;
}

footer>p>a {

    text-decoration: none;
    color: #4E57F9;
}

/* Kakao */

#kakao-contents {

    font-size: 64pt;
    line-height: 81pt;
    border: none;
}

#kakao-contents>p>a {

    color: #F48428;
}

#kakao-subcontents {

    padding-top: 0px;
    border: none;
}

#kakao-subcontents>img {

    width: 250px;
    border: 1px solid #dbdbdb;
}

/* Pay with */

#with-contents {

    padding: 0px;
    border: none;
}

#with-contents>div {

    padding: 0px 64px 32px 64px;
    line-height: 48pt;
    border-bottom: 1px solid #dbdbdb;

}

#with-contents>div:last-child{

    border: none;
}

#with-contents>div>a {

    font-family: 'Raleway', 'Noto Sans KR', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-weight: bold;
    font-size: 12pt;
}

#with-contents>div>p {
    
    color: #FF5F67;
}

#with-contents-title {

    color: #242424;
    line-height: 96pt;
}

@media ( max-width: 1750px ) {

    /* -- */

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 900px 400px
    }

    .con-section:last-child {
        border-top: 1px solid #dbdbdb;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #with-contents>div {
        
        width: 28vw;
        float: left;
        border-bottom: none;
        border-right: 1px solid #dbdbdb;

    }

}
@media ( max-width: 1280px ) {

    /*--*/

    .head-title {

        padding: 32px 0px 32px 48px;
    }

    .head-title>img {

        height: 48px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .head-title>a {
    
        vertical-align: middle;
        margin-left: 12px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 16pt;
        color: #242424;
    }
    
    .container {
        display: inline-block;
    }

    .con-section {
        
        border-top: none;
        border-right: none;
    }

    .con-section:last-child {

        border-top: 1px solid #dbdbdb;
    }

    .con-title {

        padding: 32px 0px 32px 48px;
    }

    .con-title>img {

        height: 48px;
    }

    .con-contents{

        padding: 32px 0px 32px 48px;
        font-family: 'Roboto Mono', 'Noto Sans KR', monospace;
        font-weight: bold;
        font-size: 72pt;
        color: #808DAC;
        border-bottom: 1px solid #dbdbdb;
    }

    .con-subcontents {

        font-size: 16pt;
        padding: 32px 0px 32px 48px;
    }

    /* Bank */

    #bank-subcontents {

        padding: 0px 0px 0px 48px;
    }

    footer {

        display: none;
    }

    /* Kakao */

    #kakao-contents {

        font-size: 64pt;
        line-height: 81pt;
        border: none;
    }

    /* Pay with */
    
    #with-contents>div {

        padding: 0px 0px 32px 48px;
        width: inherit;
        display: block;
        float: none;
        border-bottom: 1px solid #dbdbdb;
        border-right: none;

    }

    #with-contents-title {

        color: #242424;
        line-height: 96pt;
    }

}

@media ( max-width: 640px ) {

    /*--*/

    .head-title {

        padding: 24px 0px 24px 24px;
    }

    .container {
        display: inline-block;
    }

    .con-title {

        padding: 24px 0px 24px 24px;
    }

    .con-contents{

        padding: 24px 0px 24px 24px;
        font-size: 40pt;
    }

    .con-subcontents {

        font-size: 12pt;
        padding: 24px 24px 24px 24px;
    }

    /* Bank */

    #bank-subcontents {

        padding: 0px 0px 0px 24px;
    }

    /* Kakao */

    #kakao-contents {

        font-size: 36pt;
        line-height: 48pt;
    }

    /* Pay with */
    
    #with-contents>div {

        padding: 0px 0px 24px 24px;

    }

    #with-contents-title {

        color: #242424;
        line-height: 48pt;
    }

}