body {

    background-color: #242424;
}


header {
    
    margin-bottom: 48px;

    background-image: url(../elements/twtbio/profile-wall.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;

    text-align: left;
}
.profile>img {

    height: 48px;
}

.cover {
    
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: rgba(0, 0, 0, .7);
 
}

.profile {

    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

}

.profile>div:first-child {

    margin-bottom: 64px;

    padding-top: 360px;
    border: 1px solid #FFFFFF;
}


.profile>p {

    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: 800;
    color: white;
    
    margin-bottom: 16px;
}

.profile>img {

    float: right;
}

@media ( max-width: 1280px ) {
    
    header {
        

        background-image: url(../elements/twtbio/profile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: left;
        
    }

    .cover {
    
        padding-top: 8%;
        padding-bottom: 8%;
        background-color: rgba(0, 0, 0, .8);
     
    }

    .profile {

        max-width: 80%;
    
    }
    
    .profile>div:first-child {

        margin-bottom: 8%;
    
        padding-top: 360px;
        border: 1px solid #FFFFFF;
    }


    .profile>p {
    
        text-align: left;
        font-size: 36pt;
        font-weight: bold;
        line-height: 40pt;
        color: white;
        margin-bottom: 8px;
    }

    .profile>p:nth-child(4){
        
        font-size: 12pt;
        font-weight: normal;
        line-height: 16pt;
        color: #FFF;
        opacity: .5;
        margin-bottom: 8px;
    }

    .profile>img {

        margin-top: 16px;
        margin-bottom: 16px;

        float: none;
        height: 24px;
        opacity: .5 ;
    }

}